<app-toolbar [title]="'Calc-Steps'"></app-toolbar>

<h3>Error - Access to this calculation denied</h3>
<p>
  The calculation you have tried to access is not permitted to be viewed by your user profile.  
</p>
<p>
  This could be due to the owner of the calculation not having full access to the website or them not allowing you to view the calcualtion please see the owner to check.
</p>
<p>
  Please click the below button to return home.
</p>

<button mat-raised-button (click)="routerHome()">Back to Home</button>