<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h4>
				Inputs
			</h4>
		</mat-card-title>
      <button type="button" class="btn btn-secondary btn-sm" (click)="onAddRow()">Add Input</button>
			<button type="button" class="btn btn-secondary btn-sm" (click)="onRemoveSelected()">Delete Inputs</button>
	</mat-card-header>
	<mat-card-content>
		<ag-grid-angular #agGrid class="ag-theme-balham" style="display:inline-block; height:80vh; width:100%" [gridOptions]="inputGridOptions"
		 [rowSelection]="rowSelection" [rowMultiSelectWithClick]="true" [rowDragManaged]="true" [animateRows]="true" [enableColResize]="true"
		 [singleClickEdit]="true" (gridReady)="onGridReady($event)">
		</ag-grid-angular>
	</mat-card-content>
</mat-card>