<app-toolbar [title]="'Account Details'"></app-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true" style="background: #353535; color: white;" class="example-sidenav">
    <app-sidenav [sideNav]="config.sideNav"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content style="height:90%">
    <div class="centre">
      <mat-card class="card">
        <mat-card-header>
          <h3>Account Details</h3>
        </mat-card-header>
        <mat-card-content>
          <br/>
          Name: {{name}}
          <br/>
          <br/>
          Email: {{email}}
          <br/>
          <br/>
          Account Reference: {{accountReference}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="logout()">Logout</button>
          <button mat-button (click)="deleteAccount()">Delete Account</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card">
        <mat-card-content>
          <app-subscription-payment></app-subscription-payment>
        </mat-card-content>
      </mat-card>
    </div>  
  </mat-sidenav-content>
</mat-sidenav-container>
