.center {
  width: 75%;
}

.card {
  max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;

}
#container {
  height: 100%;
  width: 100%;
  font-size: 0;
}
.example-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.example-sidenav {
  background: #353535;
  color: white;
  display: flex;
  width: 200px;
}

