<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Input 1</th>
      <th></th>
      <th>Input 2</th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <a>
          <span class="center-block glyphicon glyphicon-plus"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="10%">
        <select class="form-control">
          <option value=""></option>
          <option value="(">(</option>
        </select>
      </td>

      <td width="20%">
        <span>
          <input type="text" class="form-control" required>
        </span>
      </td>

      <td width="10%">
        <select ng:model="rows.LogicInd" class="form-control" required>
          <option value=""></option>
          <option value="add">+</option>
          <option value="subtract">-</option>
          <option value="multiply">x</option>
          <option value="divide">></option>
        </select>
      </td>

      <td width="20%">
        <span >
          <input type="text" ng:model="rows.Input2" class="form-control"  required>
        </span>
      </td>
      <td width="10%">
        <select ng:model="rows.Bracket2" class="form-control">
          <option value=""></option>
          <option value=")">)</option>
        </select>
      </td>
      <td width="10%">
        <select ng:model="rows.Operator" class="form-control">
          <option value=""></option>
          <option value="add">+</option>
          <option value="subtract">-</option>
          <option value="multiply">x</option>
          <option value="divide">></option>
        </select>

      </td>
      <td width="5%">
        [
        <a>X</a>]
      </td>
      <td width="5%">
        <a>
          <i class="center-block glyphicon glyphicon-plus"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
