<mat-form-field style="width:100%">
  <mat-chip-list>
    <div class="container" dragula="formula" [(dragulaModel)]="autoCompleteOptions" id="options">
        <mat-chip class="draggable" *ngFor="let chip of autoCompleteOptions" selected>
        {{chip.name}}
      </mat-chip>
    </div>
  </mat-chip-list>
  <br>
</mat-form-field>

<p>Formula<p>
<mat-form-field style="width:100%" *ngIf="selectedRow[0].maths.formula.length > 0">
  <mat-chip-list #selectedChips2>
    <div class="container" dragula="formula" [(dragulaModel)]="selectedRow[0].maths.formula" id="formula">
      <mat-chip *ngFor="let chips of selectedRow[0].maths.formula; let i=index" selected [color]="primary" [removable]="removable"
        (removed)="remove(i)" class="draggable">
        {{chips.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </div>
  </mat-chip-list>
  <input [matChipInputFor]="selectedChips2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
</mat-form-field>
<mat-form-field  style="width:100%" *ngIf="selectedRow[0].maths.formula.length === 0">
    <div class="container" dragula="formula" [(dragulaModel)]="selectedRow[0].maths.formula" id="formula">
        <mat-chip-list>
            <div class="container" >
                <mat-chip>
                Add Chip Here
              </mat-chip>
            </div>
          </mat-chip-list>
    </div>
</mat-form-field>
