<mat-toolbar style="background: darkslateblue;
    color: white;">
  <button mat-icon-button (click)="sidenav.toggle()" style="background: darkslateblue; color: white;">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Jayson</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="background: #353535; color: white;">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine> Home</h3>
      </mat-list-item>
      <mat-list-item (click)="onCalc()">
        <mat-icon matListIcon>apps</mat-icon>
        <h3 matLine> Calculate</h3>
      </mat-list-item>
      <mat-list-item (click)="onSave()">
        <mat-icon matListIcon>save</mat-icon>
        <h3 matLine> Save </h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>done_all</mat-icon>
        <h3 matLine> Regression </h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>history</mat-icon>
        <h3 matLine> History </h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>description</mat-icon>
        <h3 matLine> Specification </h3>
      </mat-list-item>
      <mat-list-item (click)="onExit()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <h3 matLine> Exit </h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="left" *ngIf='calculationInput'>
      <app-calculation-input [calculationInput]="calculationInput"></app-calculation-input>
    </div>
    <div id="middle" *ngIf='calculationConfiguration'>
      <app-calculation-configuration [calculationConfiguration]="calculationConfiguration"></app-calculation-configuration>
    </div>
    <div id="right" *ngIf='calculationOutput'>
      <app-calculation-output [calculationOutput]="calculationOutput"></app-calculation-output>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
