<mat-toolbar style="background: darkslateblue;
    color: white;">
  <button mat-icon-button (click)="sidenav.toggle()" style="background: darkslateblue; color: white;">
    <mat-icon>menu</mat-icon>
  </button>
  <h4>{{calculationName}}</h4>
  <div class="button-row" style="position: fixed; right: 52px;">
    <button mat-icon-button (click)="onCalc()" style="color: white">
      <mat-icon matListIcon>apps</mat-icon>
    </button>
    <button mat-icon-button (click)="onSave()" style="color: white">
      <mat-icon matListIcon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="onExit()" style="color: white">
      <mat-icon matListIcon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" style="background: #353535; color: white;">
    <mat-nav-list>
      <mat-list-item style="color: white">
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine> Home</h3>
      </mat-list-item>
      <mat-list-item (click)="onCalc()" style="color: white">
        <mat-icon matListIcon>apps</mat-icon>
        <h3 matLine> Calculate</h3>
      </mat-list-item>
      <mat-list-item (click)="onSave()" style="color: white">
        <mat-icon matListIcon>save</mat-icon>
        <h3 matLine> Save </h3>
      </mat-list-item>
      <mat-list-item style="color: white">
        <mat-icon matListIcon>done_all</mat-icon>
        <h3 matLine> Regression </h3>
      </mat-list-item>
      <mat-list-item style="color: white" (click)=routerReleaseManagement()>
        <mat-icon matListIcon>history</mat-icon>
        <h3 matLine> Release-Management </h3>
      </mat-list-item>
      <!-- <mat-list-item style="color: white">
        <mat-icon matListIcon>history</mat-icon>
        <h3 matLine> History </h3>
      </mat-list-item> -->
      <!-- <mat-list-item style="color: white">
        <mat-icon matListIcon>description</mat-icon>
        <h3 matLine> Specification </h3>
      </mat-list-item> -->
      <mat-list-item (click)="onDelete()" style="color: white">
        <mat-icon matListIcon>delete</mat-icon>
        <h3 matLine> Delete Calculation </h3>
      </mat-list-item>
      <mat-list-item (click)="onExit()" style="color: white">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <h3 matLine> Exit </h3>
      </mat-list-item>
      <mat-list-item style="color: white">
        <mat-form-field>
          <input matInput placeholder="Group" [(ngModel)]="calculationGroup" style="color: white">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item style="color: white">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="calculationName" style="color: white">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="0px" fxLayoutGap.xs="0" style="height:90%">
      <div id="left" *ngIf='calculationInput' class="item item-1" fxFlex="30%">
        <app-calculation-input [calculationInput]="calculationInput"></app-calculation-input>
      </div>
      <div id="middle" *ngIf='calculationConfiguration' fxFlex="40%">
        <app-calculation-configuration [calculationConfiguration]="calculationConfiguration"></app-calculation-configuration>
      </div>
      <div id="right" *ngIf='calculationOutput' fxFlex="30%">
        <app-calculation-output [configOutputsNumber]=configOutputsNumber [configOutputsDate]=configOutputsDate [configOutputsLogic]=configOutputsLogic
          [configOutputsText]=configOutputsText [calculationOutput]="calculationOutput" (messageEvent)="getConfigOutputLists()"></app-calculation-output>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
