<br>
<mat-form-field>
  <mat-select matInput placeholder="Logic Data Type" [(ngModel)]="selectedRow[0].ifLogic.datatype" (ngModelChange)="clearFormula()">
    <mat-option value="Date">Date</mat-option>
    <mat-option value="Number">Number</mat-option>
    <mat-option value="Text">Text</mat-option>
    <mat-option value="Logic">If Logic</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="width:100%" *ngIf="selectedRow[0].ifLogic.datatype !== ''">
  <mat-chip-list>
    <div class="container" dragula="formula" [(dragulaModel)]="autoCompleteOptions" id="options">
      <mat-chip *ngFor="let chip of autoCompleteOptions" selected class="draggable" (dblclick)="onAddChipByDblClick(chip)"
        matTooltip="{{chip.value}}" [matTooltipShowDelay]="1000">
        {{chip.name}}
      </mat-chip>
    </div>
  </mat-chip-list>
  <mat-chip-list *ngIf="selectedRow[0].ifLogic.datatype === 'Number'">
    <div class="container" dragula="formula" [(dragulaModel)]="autoCompleteOptionsNumber" id="options">
      <mat-chip *ngFor="let chip of autoCompleteOptionsNumber" selected class="draggable" (dblclick)="onAddChipByDblClick(chip)"
        matTooltip="{{chip.value}}" [matTooltipShowDelay]="1000">
        {{chip.name}}
      </mat-chip>
    </div>
  </mat-chip-list>
  <mat-chip-list *ngIf="selectedRow[0].ifLogic.datatype === 'Date'">
    <div class="container" dragula="formula" [(dragulaModel)]="autoCompleteOptionsDate" id="options">
      <mat-chip *ngFor="let chip of autoCompleteOptionsDate" selected class="draggable" (dblclick)="onAddChipByDblClick(chip)"
        matTooltip="{{chip.value}}" [matTooltipShowDelay]="1000">
        {{chip.name}}
      </mat-chip>
    </div>
  </mat-chip-list>
  <mat-chip-list *ngIf="selectedRow[0].ifLogic.datatype === 'Text'">
    <div class="container" dragula="formula" [(dragulaModel)]="autoCompleteOptionsText" id="options">
      <mat-chip *ngFor="let chip of autoCompleteOptionsText" selected class="draggable" (dblclick)="onAddChipByDblClick(chip)"
        matTooltip="{{chip.value}}" [matTooltipShowDelay]="1000">
        {{chip.name}}
      </mat-chip>
    </div>
  </mat-chip-list>
  <mat-chip-list *ngIf="selectedRow[0].ifLogic.datatype === 'Logic'">
    <div class="container" dragula="formula" [(dragulaModel)]="autoCompleteOptionsLogic" id="options">
      <mat-chip *ngFor="let chip of autoCompleteOptionsLogic" selected class="draggable" (dblclick)="onAddChipByDblClick(chip)"
        matTooltip="{{chip.value}}" [matTooltipShowDelay]="1000">
        {{chip.name}}
      </mat-chip>
    </div>
  </mat-chip-list>
  <br>
</mat-form-field>

<mat-form-field style="width:100%" *ngIf="selectedRow[0].ifLogic.datatype !== ''">
  <p>Add {{selectedRow[0].ifLogic.datatype}} Input</p>
  <div *ngIf="selectedRow[0].ifLogic.datatype === 'Date'">
    <input matInput [matDatepicker]="picker" (dateInput)="addEventLookup('input', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>
  <div *ngIf="selectedRow[0].ifLogic.datatype === 'Number'">
    <input matInput type="number" (blur)="onAddInput('Number',$event)">
  </div>
  <div *ngIf="selectedRow[0].ifLogic.datatype === 'Text'">
    <input matInput (blur)="onAddInput('Text',$event)">
  </div>
  <div *ngIf="selectedRow[0].ifLogic.datatype === 'Logic'">
    <input matInput (blur)="onAddInput('Text',$event)" readonly>
  </div>
</mat-form-field>

<div *ngIf="selectedRow[0].ifLogic.datatype !== ''">
  <p>Formula<p>
      <mat-form-field style="width:100%" *ngIf="selectedRow[0].ifLogic.formula.length > 0">
        <mat-chip-list #selectedChips2>
          <div class="container" dragula="formula" [(dragulaModel)]="selectedRow[0].ifLogic.formula" id="formula">
            <mat-chip *ngFor="let chips of selectedRow[0].ifLogic.formula; let i=index" [removable]="removable"
              (removed)="remove(i)" class="draggable">
              {{chips.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </div>
        </mat-chip-list>
        <input [matChipInputFor]="selectedChips2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" disabled>
      </mat-form-field>
      <mat-form-field style="width:100%" *ngIf="selectedRow[0].ifLogic.formula.length === 0">
        <div class="container" dragula="formula" [(dragulaModel)]="selectedRow[0].ifLogic.formula" id="formula">
          <mat-chip-list>
            <div class="container">
              <mat-chip>
                Add Chip Here
              </mat-chip>
            </div>
          </mat-chip-list>
        </div>
      </mat-form-field>
</div>
