<div class="row" *ngFor="let row of selectedRow[0].ifLogic; let i = index" style="border: 1px solid #CCC; background: white; padding-left: 3%;
    padding-top: 1%;">
  <mat-form-field style="width: 30px">
    <mat-select [(ngModel)]="row.bracketOpen">
      <mat-option [value]=""></mat-option>
      <mat-option [value]="'('">(</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 130px">
<input matInput placeholder="Input 1" [(ngModel)]="row.input1" style="font-size: small" [matAutocomplete]="auto" (ngModelChange)="filteredOptions = filterAutoComplete(row.input1)">


  </mat-form-field>
  <mat-form-field style="width: 40px">
    <mat-select [(ngModel)]="row.functionType">
      <mat-option value=""></mat-option>
      <mat-option value="=">=</mat-option>
      <mat-option value="NotEqual">
        !=
      </mat-option>
      <mat-option value="Greater">></mat-option>
      <mat-option value="GreaterEqual">>=</mat-option>
      <mat-option value="Less">
        <</mat-option>
          <mat-option value="LessEqual">
            <=</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 130px">
<input matInput placeholder="Input 2" [(ngModel)]="row.input2" style="font-size: small" [matAutocomplete]="auto" (ngModelChange)="filteredOptions = filterAutoComplete(row.input2)">

  </mat-form-field>
  <mat-form-field style="width: 30px">
    <mat-select [(ngModel)]="row.bracketClose">
      <mat-option [value]=""></mat-option>
      <mat-option [value]="')'">)</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 50px">
    <mat-select [(ngModel)]="row.nextFunction">
      <mat-option value=""></mat-option>
      <mat-option value="and">AND</mat-option>
      <mat-option value="or">OR</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOptions" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
  <button mat-icon-button style="font-size: small">
    <mat-icon matListIcon (click)="onDeleteRow(i)" style="font-size: small; color: red">remove</mat-icon>
  </button>
</div>
<button mat-button (click)="onAddRow()">Add Row</button>
