<div *ngIf="(customer$ | async)?.sources.data as sources; else loading;">
  <div *ngIf="sources.length">
    <h3>Card History</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let source of sources">
        Card {{ source.card.brand }} | ending in {{ source.card.last4 }} | expiry date {{ source.card.exp_month }}/{{ source.card.exp_year
        }}
        <button *ngIf="canSelect === true" (click)="clickHandler(source)" class="button is-info is-small">Select</button>
      </mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="!sources.length">No payment sources found on this stripe customer account</div>
</div>

<ng-template #loading>
  <i class="fa fa-refresh fa-spin"></i> Loading payment sources...
</ng-template>
