<div>
  <div class="button-row">
    <h4>
      Output
    </h4>
    <button *ngIf="release !== true" mat-icon-button (click)="onAddRow()">
      <mat-icon aria-label="add config">add</mat-icon>
    </button>
    <button *ngIf="release !== true" mat-icon-button (click)="onRemoveSelected()">
      <mat-icon aria-label="delete config">delete</mat-icon>
    </button>
  </div>
  <ag-grid-angular #outputGrid style="height:85vh; width: 100%;" class="ag-theme-balham" [gridOptions]="outputGridOptions"
    [rowSelection]="rowSelection" [rowDragManaged]="true" [animateRows]="true" [enableColResize]="true" (selectionChanged)="onSelectionChanged($event)" (cellValueChanged)="onDataChanged($event)" (rowDragEnd)="onDataChanged($event)"
    (gridReady)="onGridReady($event)" [stopEditingWhenGridLosesFocus]="true"(rowDragEnd)="onDataChanged()">
  </ag-grid-angular>
</div>
