<div>
    <div class="button-row">
    <h4>
      Output
    </h4>
    <button mat-icon-button (click)="onAddRow()">
      <mat-icon aria-label="add config">add</mat-icon>
    </button>
    <button mat-icon-button (click)="onRemoveSelected()">
      <mat-icon aria-label="delete config">delete</mat-icon>
    </button>
  </div>
	<ag-grid-angular #outputGrid style="height:85vh; width: 100%;" class="ag-theme-balham" [gridOptions]="outputGridOptions"
	 [rowSelection]="rowSelection" [rowDragManaged]="true" [animateRows]="true" [enableColResize]="true" (gridReady)="onGridReady($event)">
	</ag-grid-angular>
</div>
