<div *ngIf="authServices.userFirebase | async; then authenticated else guest" class="profile">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <p>Login to get started...</p>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div>
    <h3>CalcSteps Gold Standard Subscription</h3>
  </div>
  <div>
    Status: {{subscriptionStatus}}
  </div>
  <ng-template [ngIf]="subscriptionStatus === 'active'">
    <div>
      <p>
        If you wish to unsubscribe please click the below button, please note that your subscription will terminate at the end of
        your billing period.
      </p>
      <button mat-raised-button (click)="cancelHandler()">
        Unsubscribe
      </button>
      <app-user-sources [canSelect]=false></app-user-sources>
      <app-user-charges></app-user-charges>
    </div>
  </ng-template>
  <ng-template [ngIf]="subscriptionStatus === 'cancelled'">
    <div>
      <p>
        You have cancelled your subscription with us, or you have a failed payment we are sorry to see you go.
      </p>
      <p>
        If you would like to reactivate your subscription please apply your new card details below to reactivate.
      </p>
    <app-payment-form [totalAmount]="0"></app-payment-form>
    </div>
  </ng-template>
  <ng-template [ngIf]="subscriptionStatus === 'pastDue' || subscriptionStatus === 'unpaid' ">
    <div>
      <p>
        Your latest payment has failed if you wish to delete your account please do so above, alternatively, please click update
        your card details below to reactivate.
      </p>
      <app-payment-form [totalAmount]="0"></app-payment-form>
    </div>
  </ng-template>
  <ng-template [ngIf]="subscriptionStatus === null">
    <div class="billing-summary">
      <h3>
        <span>Monthly Plan Summary</span>
      </h3>
      <table>
        <tbody>
          <tr>
            <td>
              <span>
                <span>1 Gold License</span>
              </span>
              <span>
                <span> 25% saving with this plan</span>
              </span>
            </td>
            <td> </td>
            <td>
              <strong>£15.00</strong>
            </td>
          </tr>
          <tr>
            <td>
              <span> Sales Tax</span>
            </td>
            <td> </td>
            <td>
              <strong>£0.00</strong>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <span>Total</span>
            </td>
            <td> </td>
            <td>
              <strong class="price">£15.00</strong>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <br/>
    <app-payment-form [totalAmount]="0" ></app-payment-form>
  </ng-template>
</ng-template>
