<div *ngIf="authServices.userFirebase | async; then authenticated else guest" class="profile">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button (click)="authServices.signInWithGoogle()" class="button is-danger">
      <i class="fa fa-google"></i> Login with Google
  </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="authServices.userFirebase | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img [src]="user.photoURL || 'https://goo.gl/knVFYJ'">
    <p class="firebase-text">Firebase UID: {{ user.uid }}</p>
    <p class="stripe-text">Stripe ID: {{ user?.stripeCustomerId || 'provisioning' }} </p>

    <hr>

    <div *ngIf="user.subscriptions">
      <h5>Active Subscriptions</h5>
      {{ user.subscriptions | json }}
      <hr>
    </div>

<button (click)="authServices.logout()" class="button">Logout</button>
  </div>
</ng-template>
<div *ngIf="status === ''">
  <button mat-button *ngIf="status !== 'pastDue'" (click)="openHandler()">
    Click here to Subscribe to our Enterprise model for £15 per Month
  </button>
</div>
<div *ngIf="status != 'active'">
  <div *ngIf="status === 'cancelled'">
    <p>
      You have cancelled your subscription with us, or you have a failed payment we are sorry to see you go. If you would like
      to create a new account please click the link below
    </p>
    <button mat-button *ngIf="status !== 'pastDue'" (click)="openHandler()">
      Click here to Subscribe to our Enterprise model for £15 per Month
    </button>
  </div>
  <div *ngIf="status === 'pastDue'">
    <p>
      Your latest payment has failed if you wish to delete your account please do so above, alternatively, please click the below
      button to update your details.
    </p>
    <button mat-button (click)="openHandler()">
      Click here to update payment information
    </button>
  </div>
  <div *ngIf="status === 'unpaid'">
    <p>
      Your latest payment has failed and your subscription has run out so your subscription has now been closed. Please click unsubiscribe
      then create a new subscription.
    </p>
    <button mat-button (click)="onUnsubscribe()">
      Click here to Unsubscribe
    </button>
  </div>
</div>
<div *ngIf="status == 'active'">
  <h4>Enterprise Subscription is Active</h4>
  <p>
    If you wish to unsubscribe please click the below button, please note that your subscription will terminate immediately.
  </p>
  <button mat-button (click)="onUnsubscribe()">
    Click here to Unsubscribe
  </button>
</div>
