.card {
    max-width: 500px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
  
  }
  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  