<app-toolbar [title]="'Test Management'"></app-toolbar>
<br />
<div class="container" style="height:90%">
  <button mat-raised-button (click)="routerCalculation()">Back to Calculation</button>
  <h3>Add a New Test</h3>
  <p>Please click the Add Test button below to create a new test, once available click View Test to write the relevant details, inputs and expected results of the test.</p>
  <button mat-raised-button (click)="onAddRow()">Add Test</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Group</th>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col">Update Date</th>
        <th scope="col">Pass/Fail</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of calculationTests">
        <td>{{item.group}}</td>
        <td>{{item.name}}</td>
        <td>{{item.owner}}</td>
        <td>{{item.updatedate}}</td>
        <td>{{item.pass}}</td>
        <td>
          <button mat-raised-button (click)="onViewTest(item)">View Test</button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
