#container {
    height: 100%;
    width: 100%;
    font-size: 0;
  }
  .example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    background: #353535;
    color: white;
    display: flex;
    width: 200px;
  }
  
  