<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h4>
				Configuration
			</h4>
		</mat-card-title>
		<button type="button" class="btn btn-secondary btn-sm" (click)="onAddRow()">Add Configuration</button>
		<button type="button" class="btn btn-secondary btn-sm" (click)="onRemoveSelected()">Delete Configuration</button>
	</mat-card-header>
	<mat-card-content>
		<ag-grid-angular #agGrid style="height:40vh; width: 99.5%" class="ag-theme-balham" [gridOptions]="gridOptions" [rowSelection]="rowSelection"
		 [rowMultiSelectWithClick]="true" [rowDragManaged]="true" [animateRows]="true" [enableColResize]="true" [singleClickEdit]="true"
		 (selectionChanged)="onSelectionChanged($event)" [suppressMenuHide]="true" (gridReady)="onGridReady($event)">
		</ag-grid-angular>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-title>
		<h4>
			Function
		</h4>
	</mat-card-title>
	<mat-card-content>
		<div style="height: 30vh; overflow:visible;">
			<form *ngFor="let row of selectedRows">
				<p>{{row.function}} - {{row.name}}</p>
				<app-function-maths [selectedRow]="selectedRow" *ngIf="row.function == 'Maths'"></app-function-maths>
				<app-function-date-adjustment *ngIf="row.function == 'Date Adjustment'"></app-function-date-adjustment>
				<app-function-date-duration *ngIf="row.function == 'Date Duration'"> </app-function-date-duration>
				<app-function-if-logic *ngIf="row.function == 'If Logic'"></app-function-if-logic>
			</form>
		</div>
	</mat-card-content>
</mat-card>