<div>
  <div class="button-row">
    <h4>
      Configuration
    </h4>
    <button mat-icon-button style="background-color:white" (click)="onAddRow()">
      <mat-icon aria-label="add config">add</mat-icon>
    </button>
    <button mat-icon-button style="background-color:white" (click)="onRemoveSelected()">
      <mat-icon aria-label="delete config">delete</mat-icon>
    </button>
  </div>
  <ag-grid-angular #agGrid style="height:40vh; width: 99.5%" class="ag-theme-balham" [gridOptions]="gridOptions" [rowSelection]="rowSelection"
    [rowMultiSelectWithClick]="true" [rowDragManaged]="true" [animateRows]="true" [enableColResize]="true" (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
<mat-card>
  <mat-card-content>
    <div style="height: 40vh; overflow:visible;">
      <form *ngFor="let row of selectedRows">
        <h4>{{row.function}}</h4>
        <app-function-maths [selectedRow]="selectedRow" *ngIf="row.functionType == 'Maths'"></app-function-maths>
        <app-function-date-adjustment *ngIf="row.functionType == 'Date Adjustment'"></app-function-date-adjustment>
        <app-function-date-duration *ngIf="row.functionType == 'Date Duration'"> </app-function-date-duration>
        <app-function-if-logic *ngIf="row.functionType == 'If Logic'"></app-function-if-logic>
      </form>
    </div>
  </mat-card-content>
</mat-card>
