<mat-form-field style="width:100%">
  <mat-chip-list>
    <mat-chip *ngFor="let chip of autoCompleteOptions" selected draggable [dragData]="chip" id="options">
      {{chip.name}}
    </mat-chip>
  </mat-chip-list>
  <br>
</mat-form-field>

<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <p>Origin<p>
          <mat-form-field style="width:100%">
            <mat-chip-list #selectedChips1>
              <mat-chip [removable]="removable" *ngFor="let chips of selectedRow[0].distance.origin; let i = index"
                (removed)="removeOrigin(i)">
                {{chips.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <div style="width:100%" droppable (onDrop)="onOriginDrop($event)">
              <input [matChipInputFor]="selectedChips1" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addOrigin($event)" [matChipInputAddOnBlur]="addOnBlur">
            </div>
          </mat-form-field>
    </td>
    <td>
      <p>Destination<p>
          <mat-form-field style="width:100%">
            <mat-chip-list #selectedChips2>
              <mat-chip [removable]="removable" *ngFor="let chips of selectedRow[0].distance.destination; let i=index"
                (removed)="removeDestination(i)">
                {{chips.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <div style="width:100%" droppable (onDrop)="onDestinationDrop($event)">
              <input [matChipInputFor]="selectedChips2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addDestination($event)" [matChipInputAddOnBlur]="addOnBlur">
            </div>
          </mat-form-field>
    </td>
  </tr>
</table>
