<div class="button-row">
  <button mat-icon-button (click)="onSave()">
    Save
  </button>
  <button mat-icon-button (click)="onAddColumn()">
    Add Column
  </button>
  <button mat-icon-button (click)="onAddRow()">
    Add Row
  </button>
  <button mat-icon-button (click)="onRemoveSelected()">
    Delete All
  </button>
  <button mat-icon-button (click)="onExportCSV()">
    Export CSV
  </button>
  <input type="file" mat-icon-button accept=".csv" (change)="onUploadCSV($event)" />
</div>
<ag-grid-angular #agGrid class="ag-theme-balham" style="display:inline-block; height:85vh; width:100%" [gridOptions]="gridOptions"
  [rowMultiSelectWithClick]="true" [stopEditingWhenGridLosesFocus]="true" [rowDragManaged]="true" [animateRows]="true" [enableColResize]="true"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
