* {
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  width: 100%;
  font-size: 0;
}

#left,
#middle,
#right {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
}

#left {
  width: 45%;
  padding: 0.5%
}

#middle {
  width: 42%;
  padding: 0.5%
}

#right {
  width: 45%;
  padding: 0.5%
}

.form-container {
    background:white;
    padding:3.5em;
    width:1000px;
    position:fixed;
    left:50%;
    margin-left:-300px;
}
