<div class="form-container">
  <div [style.display]="getCalcStyle()" [@moveIn]="getResultTransition()" id="left" *ngIf='calculationInput'>
    <button mat-raised-button (click)="onCalc()">Calculate</button>
    <button mat-raised-button (click)="onReset()">Reset</button>
    <button mat-raised-button (click)="onExit()">Exit</button>
    <span class="error" *ngIf="errors.length > 0">
      <h3>Errors</h3>
      <ul *ngFor="let item of errors">
        <li>{{item}}</li>
      </ul>
    </span>
    <app-calculation-input [calculationInput]="calculationInput" [release]=true></app-calculation-input>
  </div>
  <div style="display: none" *ngIf="calculationConfiguration" id="middle">
    <app-calculation-configuration [calculationConfiguration]="calculationConfiguration">
    </app-calculation-configuration>
  </div>
  <div [style.display]="getResultStyle()" [@moveIn]="getResultTransition()" id="right" *ngIf='calculationOutput'>
    <button mat-raised-button (click)="routeInput()">Go Back</button>
    <app-calculation-output [calculationOutput]="calculationOutput" [release]=true></app-calculation-output>
  </div>
</div>
