<mat-form-field style="width:100%">
  <mat-chip-list>
    <mat-chip *ngFor="let chip of autoCompleteOptions" selected draggable [dragData]="chip" id="options">
      {{chip.name}}
    </mat-chip>
  </mat-chip-list>
  <br>
</mat-form-field>
<mat-form-field>
  <mat-select [(ngModel)]="selectedRow[0].dateDuration.type" placeholder="Type">
    <!-- <mat-option value="YearsDays">Years Days</mat-option>
    <mat-option value="YearsMonths">Years Months</mat-option>
    <mat-option value="YearsDaysDecimal">Years Days (Decimal 6dp)</mat-option>
    <mat-option value="YearsMonthsDecimal">Years Months (Decimal 6dp)</mat-option> -->
    <mat-option value="Years">Years</mat-option>
    <mat-option value="YearsFrac">Years Fraction</mat-option>
    <mat-option value="Months">Months</mat-option>
    <mat-option value="Days">Days</mat-option>
  </mat-select>
</mat-form-field>
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <p>Date 1<p>
          <mat-form-field style="width:100%">
            <mat-chip-list #selectedChips1>
                <mat-chip selected [color]="primary" [removable]="removable" *ngFor="let chips of selectedRow[0].dateDuration.date1; let i=index"
                  (removed)="removeDates1(i)">
                  {{chips.name}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
            <div style="width:100%" droppable (onDrop)="onDate1Drop($event)">
              <div *ngIf="selectedRow[0].dateDuration.date1.length === 0">
                <input matInput [matDatepicker]="picker"  (dateInput)="addEventDate1('input', $event)" (dateChange)="addEventDate1('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
              <input [matChipInputFor]="selectedChips2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"  id="dates1" *ngIf="selectedRow[0].dateDuration.date1.length > 0" disabled>
            </div>
          </mat-form-field>
    </td>
    <td>
      <p>Date 2<p>
        <mat-form-field style="width:100%">
          <mat-chip-list #selectedChips2>
              <mat-chip selected [color]="primary" [removable]="removable" *ngFor="let chips of selectedRow[0].dateDuration.date2; let i=index"
                (removed)="removeDates2(i)">
                {{chips.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
          </mat-chip-list>
          <div style="width:100%" droppable (onDrop)="onDate2Drop($event)">
            <div *ngIf="selectedRow[0].dateDuration.date2.length === 0">
              <input matInput [matDatepicker]="picker"  (dateInput)="addEventDate2('input', $event)" (dateChange)="addEventDate2('change', $event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
            <input [matChipInputFor]="selectedChips2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"  id="dates2" *ngIf="selectedRow[0].dateDuration.date2.length > 0" disabled>
          </div>
        </mat-form-field>
    </td>
  </tr>
</table>
<!-- <mat-form-field>
  <mat-select [(ngModel)]="selectedRow[0].dateDuration.inclusive" placeholder="Include Final Day?">
    <mat-option value="True">True</mat-option>
    <mat-option value="False">False</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select [(ngModel)]="selectedRow[0].dateDuration.daysinYear" placeholder="No Days in Year">
    <mat-option value="365">365</mat-option>
    <mat-option value="365.25">365.25</mat-option>
    <mat-option value="366">366</mat-option>
  </mat-select>
</mat-form-field> -->
