<div *ngIf="selectedRow[0].lookupTable.LookupType !== ''">
  <div *ngIf="selectedRow[0].lookupTable.LookupType === 'Number'">
    <app-moveable-chip-list [chipArray]=autoCompleteOptionsNumber [name]="'Number'"></app-moveable-chip-list>
  </div>
  <div *ngIf="selectedRow[0].lookupTable.LookupType === 'Date'">
    <app-moveable-chip-list [chipArray]=autoCompleteOptionsDate [name]="'Date'"></app-moveable-chip-list>
  </div>
  <div *ngIf="selectedRow[0].lookupTable.LookupType === 'Text'">
    <app-moveable-chip-list [chipArray]=autoCompleteOptionsText [name]="'Text'"></app-moveable-chip-list>
  </div>
</div>

<mat-form-field>
  <mat-select placeholder="Table Name" [(ngModel)]="selectedRow[0].lookupTable.TableName" (ngModelChange)="setColumnList(selectedRow[0].lookupTable.TableName)">
    <mat-option value="">----</mat-option>
    <mat-option *ngFor="let lookup of lookups " [value]="lookup.key">{{lookup.name}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Lookup Data Type" [(ngModel)]="selectedRow[0].lookupTable.LookupType">
    <mat-option value="Date">Date</mat-option>
    <mat-option value="Number">Number</mat-option>
    <mat-option value="Text">Text</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field style="width:100%" *ngIf="selectedRow[0].lookupTable.LookupType !== '' && selectedRow[0].lookupTable.TableName !== ''">
  <p>Lookup Value</p>
  <mat-chip-list #selectedChips1>
    <mat-chip [removable]="removable" *ngFor="let chips of selectedRow[0].lookupTable.LookupValue; let i = index"
      (removed)="removeValue(i)">
      {{chips.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <div style="width:100%" droppable (onDrop)="onValueDrop($event)">
    <div *ngIf="selectedRow[0].lookupTable.LookupType === 'Date'">
      <div *ngIf="selectedRow[0].lookupTable.LookupValue.length === 0">
        <input matInput [matDatepicker]="picker" (dateInput)="addEventLookup('input', $event)" (dateChange)="addEventLookup('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <input [matChipInputFor]="selectedChips2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" id="dates2" *ngIf="selectedRow[0].lookupTable.LookupValue.length > 0"
        disabled>
    </div>

    <div *ngIf="selectedRow[0].lookupTable.LookupType === 'Number'">
      <input [matChipInputFor]="selectedChips1" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addValue($event)" [matChipInputAddOnBlur]="addOnBlur" type="number">
    </div>
    <div *ngIf="selectedRow[0].lookupTable.LookupType === 'Text'">
      <input [matChipInputFor]="selectedChips1" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addValue($event)" [matChipInputAddOnBlur]="addOnBlur">
    </div>
  </div>
</mat-form-field>

<mat-form-field *ngIf="selectedRow[0].lookupTable.LookupType !== '' && selectedRow[0].lookupTable.TableName !== ''">
  <mat-select placeholder="Column" [(ngModel)]="selectedRow[0].lookupTable.ColumnNo">
    <mat-option *ngFor="let column of columnList" [value]="column.key">{{column.name}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field *ngIf="selectedRow[0].lookupTable.LookupType !== '' && selectedRow[0].lookupTable.TableName !== ''">
  <mat-select placeholder="Output Data Type" [(ngModel)]="selectedRow[0].lookupTable.OutputType">
    <mat-option value="Date">Date</mat-option>
    <mat-option value="Number">Number</mat-option>
    <mat-option value="Text">Text</mat-option>
  </mat-select>
</mat-form-field>
