<app-toolbar [title]="'Release Management'"></app-toolbar>
<br>
<div class="container">
  <button mat-raised-button (click)="routerCalculation()">Back to Calculation</button>
  <h3>Add a New Release</h3>
  <p>Please click the Add Release button below to create a new release, this can be rolled back to a previous version
    by clicking the rollback button on the relevant version.</p>
  <button mat-raised-button (click)="onRelease()">Add Release</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Group</th>
        <th scope="col">Name</th>
        <th scope="col">Update Date</th>
        <th scope="col">Current Version</th>
        <th scope="col">Comment</th>
        <th scope="col">Available</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of releases">
        <td>{{item.key}}</td>
        <td>{{item.group}}</td>
        <td>{{item.name}}</td>
        <td>{{item.updatedate}}</td>
        <td>{{item.currentVersion}}</td>
        <td>{{item.comment}}</td>
        <td>{{item.isAvailable}}</td>
        <td>
          <button *ngIf="item.isAvailable === true && item.currentVersion !== true" mat-raised-button (click)="onRevertVersion(item)">Rollback</button>
        </td>
        <td>
          <button *ngIf="item.isAvailable === true  && item.currentVersion !== true" mat-raised-button (click)="onDeleteVersion(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
