#container {
    height: 100%;
    width: 100%;
    font-size: 0;
  }
  .example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    background: #353535;
    color: white;
    display: flex;
    width: 200px;
  }
  .center {
    display: block;
    margin: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}