<mat-toolbar style="background: darkslateblue;
    color: white;">
    <h1>Calculations</h1>
</mat-toolbar>
<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Group</th>
				<th scope="col">Name</th>
				<th scope="col">Owner</th>
				<th scope="col">Update Date</th>
				<th scope="col">Regression</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of calculations">
				<td scope="row">{{item.key}}</td>
				<td>{{item.group}}</td>
				<td>{{item.name}}</td>
				<td>{{item.owner}}</td>
				<td>{{item.updatedate}}</td>
				<td>{{item.regressionpass}}</td>
				<td>
					<button (click)="editCalculation(item)">Edit</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button (click)="onAddCalculation()">Add</button>
	<button (click)="deleteCalculations()">Delete All</button>
</div>
