<header class="container1">
  <img class=".header-image" src="../assets/images/home/jesus-kiteque-224069-unsplash.jpg" style="width: 100%;">
  <div class="centered">Calc Steps</div>
  <div class="subheadercentered">Automation made simple</div>
</header>
<section class="bg-primary" id="about">
  <div class="container text-centre">
      <div class="row">
          <h3>In need of Automated Calculations?</h3>
          <hr>
          <p>CalcSteps is a free to use web application which enables the user to create automated calculations using a range of controlled steps. </p>
      </div>
  </div>
</section>
<section id="offerings">
  <div class="container text-centre">
      <div class="row">
          <h3>What we deliver</h3>
          <hr>
      </div>
  </div>
  <div class="container text-centre">
      <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="service-box mt-5 mx-auto">
                <i class="material-icons icon-transform">face</i>
                <h3 class="mb-3">Specify</h3>
                <p class="text-muted mb-0">Specify the right requirements</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-box mt-5 mx-auto">
                <i class="material-icons icon-transform">build</i>
                <h3 class="mb-3">Deliver</h3>
                <p class="text-muted mb-0">Configure the calculation with ease</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-box mt-5 mx-auto">
                  <i class="material-icons icon-transform">done</i>
                  <h3 class="mb-3">Assure</h3>
                  <p class="text-muted mb-0">Quality remains</p>
            </div>
        </div>
      </div>
  </div>
</section>
<section class="bg-dark text-white">
  <div class="container text-center">
      <p>We believe that the time, effort and cost of automating existing systems is too high and the best person to understand what functionality is needed, is the user.
        <br>
        <br>
        How we get around this problem is a avoiding the need for specialist roles such as IT Coders, Systems Analysts and Software Testers.
        <br>
        <br>
        CalcStep is an application that allows the user to create their own functionality without any coding knowledge and gives the user the assurance what they have produced works.
      </p>
      <hr>
      <h2 class="mb-4">Give us a try!</h2>
      <button >
        <a routerLink="../login">
           Sign Up
        </a>
      </button>
  </div>
</section>
<section id="contact">
  <div class="container text-centre">
    <div class="row">
      <h2 class="section-heading">Let's Get In Touch!</h2>
      <hr class="my-4">
      <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="material-icons icon-transform">call</i>
        <p>+44 01235 678987</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="material-icons icon-transform">mail_outline</i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@calcsteps.com</a>
        </p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
          <i class="material-icons icon-transform">people_outline</i>
          <p>
            <a href="mailto:your-email@your-domain.com">twitter</a>
          </p>
        </div>
    </div>
  </div>
</section>
